body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 500px;
    
}
.image-container {
    position: relative;
    display: inline-block;
}
canvas  {
    position: absolute;
    width: 600px;
    justify-content: center;
}
.output {
    margin-top: 20px;
    text-align: left;
}
#json-output {
    white-space: pre-wrap;
    font-family: monospace;
    text-align: left;
}
#input-image{
    width: 500px;
    left: 20px;
}