
/* Gallery Styles */
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #2c3e50, #4ca1af); /* Από σκοτεινό μπλε σε φωτεινό μπλε */
  font-family: 'Verdana', sans-serif; /* Γραμματοσειρά για καλή ανάγνωση */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: auto;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 60px;
}

 h1{
 
    font-size: 2.5rem;
    color: white;
    margin-top: 20px;
    text-align: center;
  
}

.image-container {
  position: relative;
  width: 300px;
  height: 255px;
  margin: 20px 0; /* Δημιουργεί χώρο πάνω και κάτω από την εικόνα */
  padding: 10px;
  border-radius: 10px; /* Στρογγυλεμένες γωνίες για καλύτερη εμφάνιση */
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 15px; /* Δημιουργεί χώρο κάτω από την εικόνα */
  border-radius: 5px;
}

.annotation {
  padding: 7px;
  position: relative;
  box-sizing: border-box;
  margin-right: 12px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  ;
}

.annotation h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #004085;
}

.annotation p {
  margin: 0;
  font-size: 16px;
  color: #003366;
}



/* General Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Modal content container */
.modal-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    max-width: 800px;
    max-height: 600px;
    border-radius: 8px;
}

/* Close button */
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 35px;
    cursor: pointer;
    color: grey;
}

/* Left part (Image) */
.modal-left {
    flex: 1;
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Right part (Title, Annotations, Tags) */
.modal-right {
    flex: 1;
    max-width: 45%;
    padding-left: 20px;
    overflow-y: auto;
}

/* Annotations */
#modalAnnotations {
    margin-bottom: 20px;
}

/* Tags */
#imageTags {
    margin-bottom: 10px;
    font-size: 14px;
    color: grey;
}

#imageTags span {
    display: inline-block;
    background-color: #eee;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
}

/* Tags input */
#tagsInput {
    width: 75%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Add Tags button */
#addTagsButton {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addTagsButton:hover {
    background-color: #45a049;
}

.edit-button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  top: 1px; /* Απόσταση από την κορυφή του annotation */
  right: 1px; /* Απόσταση από τη δεξιά πλευρά του annotation */
}

.save-button{
  color: black;
  background-color: lightskyblue;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 4px;
}




.save-button:hover{
  background-color: rgb(28, 163, 247);
}

input, textarea {
  width: 80%;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.edit-button img {
  width: 24px;  /* Ορίστε το επιθυμητό μέγεθος */
  height: 24px; /* Ορίστε το επιθυμητό μέγεθος */
}

/* Στυλ για το dropdown (select) */
select {
  width: 220px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

/* Εφαρμογή σκιών και border όταν ο χρήστης επιλέγει το dropdown */
select:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* Στυλ για το dropdown όταν είναι απλό (πριν την επιλογή) */
option {
  padding: 8px;
  font-size: 14px;
}

/* Στυλ όταν είναι hover (επικεντρωμένο στο option) */
select:hover {
  border-color: #4CAF50;
}

/* Στυλ για την τοποθέτηση του dropdown στην σελίδα */
#categoryFilter {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute; /* Απόλυτη τοποθέτηση */
    top: 80px; /* Απόσταση από το επάνω μέρος της οθόνης (κάτω από το navbar) */
    right: 20px; /* Απόσταση από τη δεξιά πλευρά της οθόνης */
}

/* Responsive: Εάν η οθόνη είναι μικρότερη από 600px, το dropdown θα είναι πλήρους πλάτους */
@media (max-width: 600px) {
  select {
      width: 100%;
  }
}

label{
  color: white;
  position: absolute; /* Απόλυτη τοποθέτηση */
  top: 70px; /* Απόσταση από το επάνω μέρος της οθόνης (κάτω από το navbar) */
  right: 20px; /* Απόσταση από τη δεξιά πλευρά της οθόνης */
}
h4{
  margin: 0;
}



.delete-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
}

.delete-button:hover {
  background-color: #15d31b;
}
