
/* Gallery Styles */
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.image-container {
  position: relative;
  width: 300px;
  height: 255px;
  border: 2px solid #ddd;
  margin: 20px 0; /* Δημιουργεί χώρο πάνω και κάτω από την εικόνα */
  padding: 10px;
  border-radius: 10px; /* Στρογγυλεμένες γωνίες για καλύτερη εμφάνιση */
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ελαφρύ shadow για 3D effect */
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 2px solid #ddd;
  margin-bottom: 15px; /* Δημιουργεί χώρο κάτω από την εικόνα */
  border-radius: 5px;
}

.annotation {
  position: absolute;
  padding: 7px;
  color: #007bff;
  font-size: 14px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.annotation h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #004085;
}

.annotation p {
  margin: 0;
  font-size: 12px;
  color: #003366;
}



/* Εφέ hover για την εικόνα */
.image-container:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Αυξάνει το shadow κατά το hover */
}

/* Responsive design για μικρές οθόνες */
@media (max-width: 768px) {
  .image-container {
      width: 100%; /* Οι εικόνες θα παίρνουν όλο το πλάτος της οθόνης */
  }
}
